- if current_user and !current_user.banned and !current_user.admin
  #like_form
    - if current_user.likes?(likeable)
      = render 'shared/unlike', likeable: likeable
    - else
      = render 'shared/like', likeable: likeable