.page-header
  %h1 Home#index
%p Find me in app/views/home/index.html.erb
%p to jest strona główna na której będą informacje, że jest to serwis anonimowy itp

%p jeśli chcesz, możesz zobaczyć posty
= link_to 'posty', posts_path