$boxes = $('#{j render(@posts)}')

$('#masonry').append( $boxes ).imagesLoaded( function(){
$('#masonry').masonry('appended',$boxes);
});

- if @posts.next_page
  $('.pagination').replaceWith('#{j will_paginate(@posts)}');
- else
  $('.pagination').remove();

var container = document.querySelector('#masonry');
var msnry = new Masonry(container, {
columnWidth: '.post',
itemSelector: '.post',
isAnimated: !Modernizr.csstransitions
});

imagesLoaded(container, function () {
msnry = new Masonry(container);
});