$("#{j render(@posts)}").appendTo($("#masonry"));

var container = document.querySelector('#masonry');
var msnry = new Masonry(container, {
columnWidth: '.post',
itemSelector: '.post',
isAnimated: !Modernizr.csstransitions
});

imagesLoaded(container, function () {
msnry = new Masonry(container);
});

- if @posts.last_page?
  $('.pagination').remove();
  $('#masonry').append("<ul class=\"pagination label label-info\"><li>#{I18n.t('posts.no_more_posts')}</li></ul>");
- else
  $('.pagination').remove();
  $('#masonry').append("<ul class=\"pagination\"><li>#{j link_to_next_page(@posts, t('posts.more_posts'), remote: true, params: { category: params[:category] })}</li></ul>");